@import 'tailwindcss';
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import 'primereact/resources/themes/lara-light-blue/theme.css';

@custom-variant dark (&:where(.light, .dark *));
x body {
  margin: 0;
  padding: 0;
  font-family:
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

.price-marker {
  pointer-events: auto;
}

.price-marker-content {
  @apply px-2 py-1 text-sm font-bold rounded-xl border-b bg-white text-black;
}

.price-marker-content.hovered {
  @apply bg-black text-white;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.flowbite-datepicker button[aria-label='Clear date'] {
  display: none;
}
